<ul class="nav nav-tabs" role="tablist">
	<li {{#if isActive.about}}class="active"{{/if}}>
		<a href="/about">About</a>
	</li>
	<li {{#if isActive.commits}}class="active"{{/if}}>
		<a href="/commits">Commits</a>
	</li>
	<li {{#if isActive.search}}class="active"{{/if}}>
		<a href="/search">Search</a>
	</li>
</ul>