<!DOCTYPE html>
<html lang="en">
<head cat-store="Pages"></head>
<body>
	<cat-pages-navigation id="pages-navigation" cat-store="Pages"></cat-pages-navigation>
	<cat-pages-content id="pages-content" cat-store="Pages"></cat-pages-content>
</body>
</html>
